<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table width="192" height="299" border="1"class="table-secondary">
    <tr>
      <th height="61" scope="row"><a href="/view_manager_responses">VIEW MANAGEMENT DESICIONS</a></th>
    </tr>
    <tr>
      <th height="50" scope="row"><p><a href="/add_feedback">ADD FEEDBACK</a></p>
{      <p><a href="/view_feedback">VIEW FEEDBACK</a></p></th>#}
    </tr>
    <tr>
      <th scope="row"><p><a href="/ADD_COMPLAINT">ADD COMPLAINT</a></p>
{      <p><a href="/VIEW_COMPLAINT">VIEW COMPLAINT</a></p></th>#}
    </tr>
    <tr>
      <th height="68" scope="row"><p><a href="/view_academic_performance">VIEW ACADEMIC PERFORMANCES</a></p>
      </tr>
{       <tr><th scope="row"><p>   <a href="/view_marks"> VIEW RESULTS</a></p>#}
{         </tr>#}
  <tr><th scope="row"><p>   <a href="/view_attendence"> VIEW ATTENDACE</a></p>
         </tr>
  <tr><th scope="row"><p>   <a href="/view_fine1"> VIEW FINE</a></p>
         </tr>
{      <p><a href="/view_attendence">VIEW ATTENDENCE</a></p></th>#}
    </tr>
  <tr><th scope="row"><p>   <a href="/view_notification"> VIEW NOTIFICATION</a></p>
         </tr>
    <tr>
      <th scope="row"><a href="/parent_chat">CHAT</a></th>
    </tr>
      {% if data1 %}<tr><th height="50" scope="row"><p><a href="/add_PTAnotification">send Notification</a></p></th></tr>{% endif %}
      {% if data %}

      <tr>

          <p><th><a href="/view_PTAnotification">VIEW  PTA notification</a></th>   </tr>

      <tr>
      <th height="50" scope="row"><p><a href="/view_pta_members">view ptamembers</a></p>

    </tr>{% endif %}


  </table>
</form>
</body>
</html>