{% extends 'PARENT/parent.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post">
  <table width="390" border="1"class="table-secondary">
    <tr>
      <th width="63" scope="row"><h3>#</h3></th>
        <td width="181">date</td>
      <td width="181">COMPLAINTS</td>

    </tr>
      {% for i in res %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
        <td> {{ i['date'] }}</td>
      <td>&nbsp;{{ i['complaint'] }}</td>
        {% endfor %}

    </tr>
  </table>

</form>
</body>
</html>
{% endblock %}
