{% extends"PARENT/parent_index.html" %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table width="508" border="1"class="table-secondary">
    <tr>
      <th width="47" height="24" scope="row">#</th>
      <td width="136">Date</td>
      <td width="93">Student name</td>
      <td width="86">Staff name</td>
      <td width="112">Status</td>
{#      <td width="112">&nbsp;</td>#}
    </tr>
      {% for i in data %}
    <tr>
      <th scope="row">&nbsp;{{ loop.index }}</th>
      <td>&nbsp;{{ i['date'] }}</td>
      <td>{{ i['first_name'] }}</td>
      <td>&nbsp;{{ i['staff_name'] }}</td>
      <td>&nbsp;{{ i['status'] }}</td>
{#      <td>&nbsp;</td>#}
{#      <td><a href="#">edit</a></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
 {% endblock %}
