<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="get"><table width="200" border="1">
    <tr>
      <th scope="row"><a href="/add_department">ADD DEPERTMENT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_department">VIEW DEPERTMENT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_course">ADD COURSE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_course">VIEW COURSE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_subject">ADD SUBJECT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_subject">VIEW SUBJECT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_student1">ADD STUDENT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_student1">VIEW STUDENT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_rules">ADD  INSTITUTION RULES</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_rules">VIEW INSTITUTION RULES</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_pta_info">ADD PTA</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_pta_info">VIEW PTA</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_notification">ADD NOTIFICATIONS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_notification">VIEW NOTIFICATIONS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_fine">ADD FINE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_fine">VIEW FINE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_managementdecisions">ADD MANAGEMENT DECISIONS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_managementdecisions">VIEW MANAGEMENT DECISIONS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_parents_complaints">VIEW COMPLAINT</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_exam">ADD EXAM</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_exam">VIEW EXAM</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/add_staffinfo">ADD STAFF</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/view_staffinfo">VIEW STAFF </a></th>
    </tr>
{#     <tr>#}
{#      <th scope="row"><a href="/subject_allocation">SUBJECT ALLOCATION TO TEACHER</a></th>#}
{#    </tr>#}
    <tr>
      <th scope="row"><a href="/view_allocated_teacher">VIEW ALLOCATED  TEACHER</a></th>
    </tr>
{#    <tr>#}
{#      <th scope="row"><a href="/add_ptascheduling">ADD PTA SCHEDULING</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/view_ptascheduling">VIEW PTA SCHEDULING</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/add_parent">ADD PARENT</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/view_parent">VIEW PARENT</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/add_pta_info">ADD PTA INFORMATION</a></th>#}
{#    </tr>#}
{#    <tr>#}
{#      <th scope="row"><a href="/view_pta_info">VIEW PTA INFORMATION</a></th>#}
{#    </tr>#}
  </table>
</form>
</body>
</html>
