{% extends 'Admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post" enctype="multipart/form-data">
<table width="339" height="194" border="1" class="table-secondary" >
 
  <tr>
    <th height="48" scope="row">Title</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
  </tr>
  <tr>
    <th height="46" scope="row">Decisions</th>
    <td><label for="fileField2"></label>
      <input type="file" name="fileField2" id="fileField2" /></td>
  </tr>
  <tr>
      <th height="51" colspan="2" scope="row"><center><input type="submit" name="button" id="button" value="ADD"  class="btn btn-primary" /></center></th>
    </tr>
</table>
<label for="fileField"></label>
</form>
</body>
</html>
{% endblock %}