
{% extends 'Admin/admin_index.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <table  border="1" class="table table-secondary">
      <tr>
      <th scope="row">Firstname</th>
      <td><label for="textfield8"></label>
        <input type="text" name="textfield2" id="textfield8"  /></td>
    </tr>
          <tr>
      <th scope="row">lastname</th>
      <td><label for="textfield9"></label>
        <input type="text" name="textfield3" id="textfield9" /></td>
    </tr>
         <tr>
      <th scope="row">Course</th>
      <td><label for="textfield11"></label>
        <label for="select2"></label>
        <select name="select2" id="select2">
          <option>--select--</option>
            {% for i in d %}
            <option value="{{ i['course_id'] }}">{{ i['course_name'] }}</option>
            {% endfor %}

      </select></td>
    </tr>
       <tr>
      <th scope="row">Semester/Year</th>
      <td><label for="textfield13"></label>
      <label for="select3"></label>
      <label for="textfield14"></label>
      <input type="text" name="textfield5" id="textfield14" />
      </td>
    </tr>
    <tr>
      <th scope="row">Admissionnumber </th>
      <td><label for="textfield7"></label>
        <input type="text" name="textfield" id="textfield7" /></td>
    </tr>
      <tr>
      <th scope="row">Quota</th>
      <td><label for="select"></label>
        <select name="select" id="select">
          <option>merit</option>
          <option>community</option>
          <option>sports</option>
          <option>SC/ST</option>
      </select></td>
    </tr>
    <tr>
      <th scope="row">DOB</th>
      <td><label for="textfield10"></label>
        <label for="textfield16"></label>
      <input type="date" name="textfield6" id="textfield16" /></td>
    </tr>
  <tr>
      <th colspan="2" scope="row"><center><input type="submit" name="button" id="button" value="Register"  class="btn btn-primary" /></center></th>
    </tr>
  </table>
</form>

</body>
</html>
{% endblock %}