<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <table width="344" height="419" border="1"class="table-secondary">


    <tr>
      <th width="129" scope="row">Parent name</th>
      <td width="199"><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" value="{{ data['parent_name'] }}" /></td>
    </tr>

     <tr>
      <th scope="row">Phone</th>
      <td><label for="textfield4"></label>
        <input type="text" name="textfield4" id="textfield4" value="{{ data['phone'] }}"/></td>
    </tr>
     <tr>
      <th scope="row">House</th>
      <td><label for="textfield2"></label>
        <input type="text" name="textfield2" id="textfield2" value="{{ data['house'] }}" />
        <label for="textfield3"></label></td>
    </tr>
     <tr>
      <th scope="row">Place</th>
      <td><label for="textfield3"></label>
        <input type="text" name="textfield3" id="textfield3" value="{{ data['place'] }}"/></td>
    </tr>
     <tr>
      <th scope="row">Post</th>
      <td><label for="textfield6"></label>
        <input type="text" name="textfield6" id="textfield6" value="{{ data['post'] }}" /></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td><label for="textfield7"></label>
        <input type="text" name="textfield7" id="textfield7" value="{{ data['pin'] }}"/></td>
    </tr>
    <tr>
      <th scope="row">Occupation</th>
      <td><label for="textfield8"></label>
        <input type="text" name="textfield8" id="textfield8" value="{{ data['occupation'] }}"/></td>
    </tr>
    <tr>
      <th scope="row">Relation with student</th>
      <td><label for="select"></label>
        <select name="select" id="select">
          <option {% if data['relation_with_student']=='Father' %}selected{% endif %}>Father</option>
          <option {% if data['relation_with_student']=='Mother' %}selected{% endif %}>Mother</option>
          <option {% if data['relation_with_student']=='Guardian' %}selected{% endif %}>Guardian</option>
      </select></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Register" /></th>
    </tr>
  </table>
</form>
</body>
</html>





