{% extends 'Admin/admin_index.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
<table width="526" height="78" border="1"class="table-secondary">
  <tr>
      <th width="70" height="43" scope="row"><h3>#</h3></th>
    <td width="86">Date</td>
    <td width="138">Complaints</td>
    <td width="98">Parent name</td>
    <td width="100">&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th height="27" scope="row">{{ loop.index }}</th>
    <td>&nbsp; {{ i['date'] }}</td>
    <td>&nbsp; {{ i['complaint'] }}</td>
    <td> {{ i['parent_name'] }}&nbsp;</td>
    <td><a href="/send_reply/{{ i['complaintid'] }}">reply</a></td>

  </tr>
    {% endfor %}
</table></form>
</body>
</html>
{% endblock %}