{% extends 'Admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
<table width="526" height="93" border="1"class="table-secondary">
  <tr>
    <th width="53" scope="row">#</th>
    <td width="103">Exam date</td>
    <td width="78">Exam time</td>
    <td width="78">Course</td>
    <td width="78">Subject</td>
    <td width="96">&nbsp;</td>
  </tr>
     {% for i in res %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ i['examdate']}}</td>
    <td>{{ i['examtime']}}</td>
    <td>{{ i['course_name']}}</td>
    <td>{{ i['subject_name']}}</td>
    <td><a href="/editexam/{{ i['exam_id'] }}">Edit</a><br><a href="/examdelete/{{ i.exam_id }}">Delete</a></td>
  </tr>
     {% endfor %}
</table></form>
</body>
</html>
{% endblock %}