{% extends 'PARENT/parent.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
  <table class="table-secondary" border="1"class="table-secondary">
    <tr>
      <th width="114" rowspan="2" scope="row"><p>Management</p>
      <p>Responses</p></th>
      <td width="105"><a href="/view_NOTIFICATION_CORNER"></a></td>
    </tr>
    <tr>
      <td><a href="/view_fine1">FINES AND PENALTIES</a></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}