{% extends 'PARENT/parent.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table width="490" height="70" border="1"class="table-secondary">
    <tr>
      <th width="45" scope="row">#</th>
      <td width="207">Rules</td>
      <td width="104">Date</td>
    </tr>
      {% for i in res %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>&nbsp;{{ i['rules'] }}</td>
      <td>&nbsp;{{ i['date'] }}</td>

    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}