{% extends 'PARENT/parent.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">
  <table width="515" height="89" border="1"class="table-secondary">
    <tr>
      <th width="8" scope="row">#</th>
      <td width="85">Meeting date</td>
      <td width="83">Meeting time</td>
      <td width="91">Meeting place</td>
      <td width="50">Agenda</td>
      <td width="95">Decision taken</td>
    </tr>
       {% for i in res %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>&nbsp;{{ i['meetingdate'] }}</td>

    <td>{{ i['meetingtime'] }}</td>
    <td>{{ i['meetingplace'] }}</td>
    <td>&nbsp;{{ i['agenda'] }}</td>
     <td>&nbsp;{{ i['decision_taken'] }}</td>

  </tr>
    {% endfor %}

  </table>

</form>
</body>
</html>
{% endblock %}