<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
<table width="467" height="764" border="1">
  <tr>
    <th width="84" height="63" scope="row">Student name</th>
    <td colspan="2"><label for="select"></label>      <select name="select" id="select">
    </select>      <label for="textfield"></label></td>
  </tr>
  <tr>
    <th rowspan="7" scope="row">Academic performance</th>
    <td width="78"><p><br />
      ARTS<br />
    </p></td>
    <td width="287"><table width="200">
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="EXCELLENT" id="ARTS_0" />
          EXCELLENT</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="VERYGOOD" id="ARTS_1" />
          VERYGOOD</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="AVERAGE" id="ARTS_2" />
          AVERAGE</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="BELOW AVERAGE" id="ARTS_3" />
          BELOW AVERAGE</label></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>SPORTS</td>
    <td>
    
    
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="EXCELLENT" id="ARTS_0" />
          EXCELLENT</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="VERYGOOD" id="ARTS_1" />
          VERYGOOD</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="AVERAGE" id="ARTS_2" />
          AVERAGE</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="ARTS" value="BELOW AVERAGE" id="ARTS_3" />
          BELOW AVERAGE</label></td>
      </tr>
    </table>
    
    
    </td>
  </tr>
  <tr>
    <td>STUDIES</td>
    <td>
    
    <table width="200">
      <tr>
        <td><label>
          <input type="radio" name="SD" value="EXCELLENT" id="ARTS_0" />
          EXCELLENT</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="SD" value="VERYGOOD" id="ARTS_1" />
          VERYGOOD</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="SD" value="AVERAGE" id="ARTS_2" />
          AVERAGE</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="SD" value="BELOW AVERAGE" id="ARTS_3" />
          BELOW AVERAGE</label></td>
      </tr>
    </table>
    
    </td>
  </tr>
  <tr>
    <td>CLASS PRESENCE</td>
    <td><table width="200">
      <tr>
        <td><label>
          <input type="radio" name="CLASS PRESENCE" value="GOOD" id="CLASSPRESENCE_0" />
          GOOD</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="CLASS PRESENCE" value="BAD" id="CLASSPRESENCE_1" />
          BAD</label></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>AREA OF INTEREST</td>
    <td><label for="textarea2"></label>
      <textarea name="textarea2" id="textarea2" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td height="111">ABOUT</td>
    <td><label for="textarea3"></label>
      <textarea name="textarea3" id="textarea3" cols="45" rows="5"></textarea></td>
  </tr>
  <tr>
    <td height="87" colspan="2"><label for="textarea"></label>
      <div align="center">
        <input type="submit" name="ADD" id="ADD" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
