<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; <a href="#">EDIT</a>charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get">
  <table width="527" border="1">
    <tr>
      <th width="36" rowspan="3" scope="row">#</th>
      <td width="112" rowspan="3">student name</td>
      <td colspan="6"><div align="center">Academic performance</div></td>
      <td width="33" rowspan="3"><a href="#">EDIT</a></td>
    </tr>
    <tr>
      <td width="58">ARTS</td>
      <td width="69">SPORTS</td>
      <td width="63">STUDIES</td>
      <td width="74">CLASS PRESENCE</td>
      <td width="1">AREA OF INTEREST</td>
      <td width="23">ABOUT</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
